# Logs
*.log

# Dependency directories
node_modules/

# Build output
dist

# next.js
docs/.next/
docs/out/

# misc
.DS_Store

# typescript
next-env.d.ts

.turbo
# Tests
tests-unit/coverage
test-results

.sst/
.sst.config*
.next/
.open-next/