# Logs
*.log

# Dependency directories
node_modules/

# Build output
dist

# misc
.DS_Store

# typescript
next-env.d.ts

.turbo
# Tests
packages/tests-unit/coverage
test-results

.sst/
.sst.config*
.next/
.open-next/