name: Validate merge requests

on:
    pull_request:
        branches:
            - main

jobs:
    validate:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            pull-requests: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: ./.github/actions/pnpm-setup
            - uses: ./.github/actions/lint
            - uses: ./.github/actions/test